* {
  margin: 0;
  padding: 2px;
  box-sizing: border-box;
}
body {
  background-color: aquamarine;
}
#root {
  background-color: burlywood;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
form input {
  background-color: antiquewhite;
  width: 99%;
  font-size: larger;
}
#wraper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
