#root {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#siteName {
  color: blueviolet;
}

form {
  background-color: gray;
  padding: 0 15px;
}

form input {
  background-color: antiquewhite;
  font-size: larger;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#content {
  display: grid;
  grid-template-columns: 1fr, auto, 1fr;
  margin: 0 15px;
}

.item {
  position: relative;
  width: 100%;
  padding: 5px;
}

.itemWrapper:hover {
  box-shadow: 1px 5px 15px black;
}

img {
  width: 100%;
}

.itemInfo {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  color: aliceblue;
  text-align: center;
}

.item:hover .itemInfo {
  display: block;
}

@media (min-width: 600px) {
  #content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) {
  #content {
    grid-template-columns: repeat(5, 1fr);
  }
}