#content {
  max-width: 100%;
  padding: 15px;
  gap: 15px;
  display: grid;
}

@media (min-width: 600px) {
  #content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) {
  #content {
    grid-template-columns: repeat(5, 1fr);
  }
}


.itemWrapper {
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 1px 5px 10px gray;
}

.itemWrapper:hover {
  box-shadow: 1px 5px 15px orangered;
}

