#root, .popupWrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#siteName {
  color: blueviolet;
  margin: auto;
}

form {
  background-color: gray;
  padding: 0 15px;
  margin: 0 0 10px;
}

form input[type='text'] {
  background-color: antiquewhite;
  font-size: larger;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#content {
  max-width: 100%;
  padding: 15px;
  gap: 15px;
  display: grid;
}

.itemWrapper {
  background-color: aquamarine;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

.itemWrapper:hover {
  box-shadow: 1px 5px 15px black;
}

img {
  width: 100%;
}

#popup {
  position: fixed;
  background-color: black;
  opacity: .97;
  width: 100vw;
  min-height: 100vh;
  color: white;
}

.popupWrapper {
  padding: 15px;
}

.delPopup {
  float: right;
  margin: 15px;
  font-size: 72px;
}

.cover {
  float: right;
}

@media (min-width: 600px) {
  #content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) {
  #content {
    grid-template-columns: repeat(5, 1fr);
  }
}